<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EndpointUri" value="엔드포인트URI로변경" />
    <add key="PrimaryKey" value="프라이머리키로 변경" />
  </appSettings>
</configuration>
